@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
:root {
    --smokeWhite: #eee;
    --playFont: 'Press Start 2P', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: var(--playFont), sans-serif;
    color: var(--smokeWhite);
    background-color: #222;
}

header {
    position: relative;
    height: 35vh;
    border-bottom: 7px solid var(--smokeWhite);
}

main {
    height: 65vh;
    color: var(--smokeWhite);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.izquierda {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.derecha {
    width: 50vw;
    font-size: 2rem;
}

h1 {
    font-size: 4rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top:52%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.numero{
    background: var(--smokeWhite);
    color: #333;
    font-size: 6rem;
    width:15rem;
    padding: 3rem 0rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-45%);
}
.en-medio{
    font-size: 1.4rem;
    position: absolute;
    top:2rem;
    right: 2rem;
}
.repetir{
    position: absolute;
    top:2rem;
    left: 2rem;
}
.adivinar{
    background: none;
    border: 4px solid var(--smokeWhite);
    font-family: inherit;
    color: inherit;
    font-size: 5rem;
    padding: 2.5rem;
    width: 25rem;
    text-align: center;
    display: block;
    margin-bottom: 3rem;
}

.boton {
    border: none;
    background: var(--smokeWhite);
    color: #222;
    font-size: 2rem;
    font-family: inherit;
    padding: 2rem 3rem;
    cursor: pointer;
}
.boton:hover{
    background-color: #ccc;
    transform: scale(1.1);
}

.mensaje{
    margin-bottom:8rem;
    height: 3rem;
}
.label-puntaje {
    margin-bottom: 2rem;
}