@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background-color: #DBE5F7;
    border: 1px solid #7ca7f7;
}
header > :first-child{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
}
header > :last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > :last-child > a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin-right: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    background-color: #FBE7CF;
    border: 1px solid #f7d87b;
}
main > :first-child{
    display: flex;
    flex-direction: column;
    margin: auto;
}
main > :first-child > h1 {
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}
main > :first-child > img {
    border-radius: 25%;
}
main > :nth-child(2), main > :nth-child(3){
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #FDF2D0;
    border: 1px solid #f7d87b;
}

main > :nth-child(2)> h2 , main > :nth-child(3)> h2{
    margin-bottom: 1rem;
}
/* main > :nth-child(4){
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
} */
main > :last-child{
    display:flex;
    justify-content: space-around ;
    flex-direction: row;
    flex-wrap: wrap;
    margin:40px 0px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #D9E7D7;
    border: 1px solid #8ee083;
}
footer > p {
    font-size: small;
    color: #949393;
}
footer > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer > .contenedor-redes-sociales > img {
    cursor: pointer;
    margin-right: 10px;
}